.header-single-recipe{
    width: 1896px;
    height: 72px;
    margin: 12px 12px 0px 12px;
    background: #FFFFFF;
}
.body-single-recipe{
    display: flex;
    margin: 0px 0px 12px 0px;
}
.kitchen{
    background: #FFFFFF;
    width: 465px;
    height: 128px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    margin: 12px 0px 0px 12px;
}

.tags{
    background: #FFFFFF;
    width: 465px;
    height: 126px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    margin: 12px 0px 0px 12px;
}

.calorie{
    background: #FFFFFF;
    width: 465px;
    height: 158px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    margin: 12px 0px 0px 12px;
}

.portions{
    background: #FFFFFF;
    width: 465px;
    height: 128px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    margin: 12px 0px 0px 12px;
}

.description{
    width: 465px;
    height: 264px;
    background: #FFFFFF;
    gap: 0px;
    margin: 12px 0px 0px 12px;
}

.time-to-cook{
    width: 465px;
    height: 128px;
    background: #FFFFFF;
    margin: 12px 0px 0px 12px;
}

.cook-instructions{
    width: 465px;
    height: 712px;
    background: #FFFFFF;
    margin: 12px 0px 0px 12px;
}

.block-img{
    width: 942px;
    height: 852px;
    margin: 12px 0px 0px 12px;
    background: #FFFFFF80;
}

.img-single-recipe{
    width: 918px;
    height: 760px;
    margin: 12px 12px 0px 12px;
}

.head-of-block{
    width: 465px;
    height: 56px;
    box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
}

.navigation-recipe-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 918px;
    height:56px;

}

.buttons-navigate-recipe{
    display: flex;
    justify-content: space-between;
    width: 72px;
    height: 32px;
}

.buttons-navigate-recipe-all{
    width: 32px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px 0px 0px 0px;
}

.buttons-navigate-recipe-prev-img{
    transform: rotate(180deg);
}